div.css-1l269bu.e1tzin5v2{
    text-align: center;
    color: rgb(197, 115, 22);
    background-color: rgb(66, 85, 105);
    border: 1px;
    padding: 0px 20px 0px 20px;
    border-radius: 10px;
}

#sales-dashboard{
    text-align: center;
}